h1 {color:rgb(216, 113, 17); font-size:xx-large; font-style: oblique; text-align: center; font-weight:bolder;}
h2 {color: rgb(4, 99, 99); font-size: x-large; font-style: italic; text-align: left; font-weight: bolder;}
body {background-color: aquamarine;}
img {height: 400px;}
img {width: 200px;}
